#load{
    height: 100%;
    width: 100%;
    position: absolute;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background: white;
}

#loadtext{
    text-align: center;
}