/*
Why is it called "SlideBar"? 
The structure we used is actually called sidebar.
Since ours can be folded (or slided), I called it slidebar instead.
*/
html, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 100%;
    z-index: 9999;
}

body{
    overflow-x: hidden;
}

#scrollbar::-webkit-scrollbar-thumb {
    width: 4px;
    height: 60px;
    background-color: #000000;
    border-radius: 3px;
    z-index: 9999;
}

#scrollbar::-webkit-scrollbar-thumb:hover {
    width: 4px;
    height: 60px;
    background-color: #000000;
    border-radius: 3px;
    z-index: 9999;
}

@keyframes test{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.fadeIn{
    /* opacity: 0; */
    animation: test;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: unset;
    /* animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); */
}
.ihtml{
    height: 100%;
    width: 100%;
    /* background-color: red; */
}
