#i-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#actionbtn{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}

#i-background-div{
    opacity: 0.3;
    background: url("../media/bg.jpg");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-position: center;
    float: left;
    position: absolute;
    z-index: -1;
}