html, body {
    padding: 0;
    margin: 0;
}

p.title{
    font-size: 60px;
    font-weight: 800;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    top: 42%;
    position: relative;
    animation-name: fIn,animationX;
    animation-delay: 0s,2s;
    animation-duration: 1s,3s;
    /* animation-delay: 0.1s,0.1s;
    animation-duration: 0.1s,0.1s; */
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

#cbox{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.t2{
    font-size: 60px;
    font-weight: 800;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    top: 45%;
    position: relative;
    animation-name: animationY;
    animation-delay: 2s;
    animation-duration: 3s;
    /* animation-delay: 0s;
    animation-duration: 0.1s; */
    opacity: 0;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}



@keyframes animationX{
    0%{
        display: none;
        font-size: 60px;
        top: 42%;
        color: black;
    }
    50%{
        display: unset;
        font-size: 40px;
        top: 37%;
        color: rgb(100,100, 100);
        opacity: 1;
    }
    100%{
        display: none;
        font-size: 40px;
        top: 37%;
        color: rgb(100,100, 100);
        opacity: 0;
    }
}

@keyframes animationY{
    0%{
        display: none;
        font-size: 60px;
        top: 45%;
        opacity: 0;
    }
    50%{
        display: unset;
        font-size: 70px;
        top: 37%;
        opacity: 1;
    }
    80%{
        display: unset;
        font-size: 65px;
        top: 34%;
        opacity: 1;
    }
    100%{
        display: unset;
        font-size: 65px;
        top: 15%;
        opacity: 1;
    }
}


@keyframes fIn{
    0%{
        display: none;
        font-size: 70px;
        top: 38%;
        opacity: 0;
    }
    100%{
        display: unset;
        font-size: 60px;
        top: 42%;
        opacity: 1;
    }
}
#background-animation-layer{
    position: absolute;
    /* background-image: url('../media/Background.jpg'); */
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#container{
    position: relative;
    top: 19%;
    justify-content: center;
    width: 100%;
    animation-name: loginanimation;
    animation-delay: 5s;
    animation-duration: 1s;
    /* animation-delay: 0s;
    animation-duration: 0.1s; */
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
    opacity: 0;
    
}

@keyframes loginanimation{
    0%{
        display: none;
        opacity: 0;
        transform: translateY(10px);
    }
    100%{
        display: unset;
        opacity: 1;
        transform: translateY(0px);
    }
}

#loginform{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 60%;
    min-width: 350px;
    max-width: 410px;
    justify-content: center;
}

.pd{
    margin-bottom: 40px;
}

#notification-no-material-banner{
    display: none;
    position: relative;
    /* height: 40px; */
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    /* line-height: 40px; */
    text-align: center;
    overflow: hidden;
    margin-bottom: 30px;
    border: solid 1px;
    border-radius: 5px;
    /* background-color: #f5f5f5; */
    background-color: transparent;
    border-color: rgba(0,0,0,.12);
}